Repository FashionFreedom/Seamly2D, pull requests merged in 2020-07, with the labels that each got.

#246 switch compiler to MSVC++ 14.16 (Visual Studio 2017 version 15.9)
  .github/workflows/build-release-assets.yml
  .github/workflows/build-weekly-release.yml
Labels: Windows, build

#252 Filtering seamlyme measurements
  src/app/seamlyme/dialogs/dialogmdatabase.cpp
  src/app/seamlyme/dialogs/dialogmdatabase.h
  src/app/seamlyme/dialogs/dialogmdatabase.ui
  src/app/seamlyme/mapplication.cpp
  src/app/seamlyme/mapplication.h
  src/app/seamlyme/tmainwindow.cpp
  src/app/seamlyme/tmainwindow.h
  src/libs/vformat/vmeasurements.cpp
  src/libs/vformat/vmeasurements.h
Labels: measurements

#254 Update launchpad username & ppa, issue #197
  scripts/launchpad_stats.py
Labels: Linux, Ubuntu, build

#256 Git release checker
  src/app/seamly2d/core/vapplication.cpp
  src/libs/fervor/fervor.pri
  src/libs/fervor/fvavailableupdate.cpp
  src/libs/fervor/fvavailableupdate.h
  src/libs/fervor/fvupdater.cpp
  src/libs/fervor/fvupdater.h
  src/libs/fervor/fvupdatewindow.cpp
  src/libs/fervor/fvupdatewindow.h
  src/libs/fervor/fvupdatewindow.ui
Labels: UI, namespace

#263 Progress bar
  src/app/seamly2d/dialogs/dialogaboutapp.cpp
  src/app/seamly2d/dialogs/dialogaboutapp.h
  src/app/seamly2d/dialogs/dialogaboutapp.ui
  src/libs/fervor/fvupdater.cpp
  src/libs/fervor/fvupdater.h
Labels: dowloads

#265 Fix connections to progress bar
  src/app/seamly2d/dialogs/dialogaboutapp.cpp
Labels: downloads

#267 Show warning if Seamly2d is runningduring installation
  dist/seamly2d-installer.nsi
Labels: install

#269 Fixed installer
  dist/seamly2d-installer.nsi
  src/app/seamly2d/dialogs/dialogaboutapp.cpp
Labels: build, install

#268 Issue #266 - Remove Unused Build Files
  .travis.yml
Labels: build

#270 Fixed some warnings and the path
  src/app/seamly2d/mainwindow.cpp
  src/app/seamlyme/tmainwindow.cpp
  src/libs/ifc/xml/vabstractpattern.cpp
  src/libs/vlayout/vlayoutpiece.cpp
  src/libs/vobj/vobjengine.cpp
  src/libs/vpatterndb/vcontainer.cpp
  src/libs/vpatterndb/vpiece.cpp
  src/libs/vpatterndb/vpiecepath.cpp
  src/libs/vpropertyexplorer/vproperty.cpp
  src/libs/vpropertyexplorer/vproperty.h
  src/test/TranslationsTest/tst_abstractregexp.cpp
Labels: build, translations

#274 show and check progress from SeamlyME and prevent 2 downloads at the …
  src/app/seamlyme/dialogs/dialogaboutseamlyme.cpp
  src/app/seamlyme/dialogs/dialogaboutseamlyme.h
  src/app/seamlyme/dialogs/dialogaboutseamlyme.ui
  src/app/seamlyme/mapplication.cpp
  src/libs/fervor/fvupdater.cpp
Labels: build, images, translations

#276 Issue #273 - Fix measurement images
  .github/workflows/build-linux-pkg.sh
  .github/workflows/build-release-assets.yml
  .github/workflows/build-weekly-release.yml
  src/app/seamlyme/mapplication.cpp
Labels: Linux, Windows, build, measurements

#278 #277 Deliver .dmg files as single .zip file
  .github/workflows/build-release-assets.yml
  .github/workflows/build-weekly-release.yml
Labels: Mac, build

#280 #279 Create application's directories on startup in user's home directory
  src/app/seamly2d/core/vapplication.cpp
  src/app/seamlyme/mapplication.cpp
Labels: build
