Repository FashionFreedom/Seamly2D, pull requests merged in 2020-06, with the labels that each got.

#227 Code sign seamly2d-installer.exe
  .github/workflows/build-release-weekly.yml
Labels: Windows, build

#228 Consolidate CI pipelines
  #1#travis.log
  .github/workflows/README.md
  .github/workflows/build-release-assets.yml
  .github/workflows/build-weekly-release.yml
  .github/workflows/pull-request.yml
  appveyor.yml
  cert.7z
  dist/seamly2d-installer.nsi
  travis-appimage.yml
  travis.log
Labels: build, pipeline

#243 Update to Qt 5.12.x, QtCreator 4.11.x
  README.md
  README.txt
  Seamly2D.pro
  scripts/macfixqtdylibrpath.py
  src/test/CollectionTest/target_wrapper.sh
  src/test/ParserTest/target_wrapper.sh
  src/test/Seamly2DTest/target_wrapper.sh
  src/test/TranslationsTest/target_wrapper.sh
Labels: Qt
