Repository FashionFreedom/Seamly2D, pull requests merged in 2020-11, with the labels that each got.

#352 Issue #350 Update Variables Table and History dialogs
  src/app/seamly2d/dialogs/dialoghistory.cpp
  src/app/seamly2d/dialogs/dialogincrements.h
  src/app/seamly2d/dialogs/dialogs.h
  src/app/seamly2d/dialogs/dialogs.pri
  src/app/seamly2d/dialogs/dialogvariables.cpp
  src/app/seamly2d/dialogs/dialogvariables.h
  src/app/seamly2d/dialogs/dialogvariables.ui
  src/app/seamly2d/mainwindow.cpp
  src/app/seamly2d/mainwindow.h
  src/app/seamly2d/xml/vpattern.cpp
  src/app/seamly2d/xml/vpattern.h
  src/app/seamlyme/tmainwindow.ui
  src/libs/vmisc/share/resources/icon.qrc
  src/libs/vmisc/share/resources/icon/32x32/filter.png
  src/libs/vmisc/share/resources/icon/32x32/list-edit_32.png
  src/libs/vmisc/share/resources/icon/32x32/move_bottom.png
  src/libs/vmisc/share/resources/icon/32x32/move_down.png
  src/libs/vmisc/share/resources/icon/32x32/move_top.png
  src/libs/vmisc/share/resources/icon/32x32/move_up.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/16x16/actions/go-bottom.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/16x16/actions/go-down.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/16x16/actions/go-next.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/16x16/actions/go-previous.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/16x16/actions/go-top.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/16x16/actions/go-up.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/24x24/actions/go-bottom.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/24x24/actions/go-down.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/24x24/actions/go-next.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/24x24/actions/go-previous.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/24x24/actions/go-top.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/24x24/actions/go-up.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/32x32/actions/go-bottom.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/32x32/actions/go-down.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/32x32/actions/go-next.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/32x32/actions/go-previous.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/32x32/actions/go-top.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/32x32/actions/go-up.png
  src/libs/vpatterndb/vcontainer.cpp
  src/libs/vpatterndb/vcontainer.h
  src/libs/vtools/dialogs/support/dialogeditwrongformula.cpp
  src/libs/vtools/dialogs/support/dialogeditwrongformula.ui
  src/libs/vtools/dialogs/tools/dialogtool.cpp
  src/libs/vtools/dialogs/tools/dialogtool.h
  src/libs/vtools/dialogs/tools/piece/dialoginternalpath.ui
  src/libs/vtools/dialogs/tools/piece/tabs/tabpaths.ui
Labels: bug

#354 Issue #353 - Fixed deprecated set-env command with $GITHUB_ENV
  .github/workflows/build-weekly-release.yml
Labels: bug, build, github

#357 Re-run build-weekly-release
  .github/workflows/build-weekly-release.yml
Labels: bug, build
