Repository FashionFreedom/Seamly2D, pull requests merged in 2021-03, with the labels that each got.

#419 fix linux weekly build
  .github/workflows/build-weekly-release.yml
Labels: Linux, build

#421 fix libdrm & glibc errors
  .github/workflows/build-linux-pkg.sh
Labels: Linux, build, github

#423 Fix issue #422 The Spline With Control Points does not work with Oper…
  src/libs/vgeometry/vcubicbezierpath.cpp
  src/libs/vgeometry/vcubicbezierpath.h
Labels: Curve Tools, Operations Tools, bug
