Repository FashionFreedom/Seamly2D, pull requests merged in 2022-01, with the labels that each got.

#559 Export Draft Blocks
  src/app/seamly2d/dialogs/configpages/preferencesgraphicsviewpage.cpp
  src/app/seamly2d/dialogs/configpages/preferencesgraphicsviewpage.ui
  src/app/seamly2d/dialogs/dialogsavelayout.cpp
  src/app/seamly2d/dialogs/dialogsavelayout.h
  src/app/seamly2d/dialogs/dialogsavelayout.ui
  src/app/seamly2d/mainwindow.cpp
  src/app/seamly2d/mainwindow.h
  src/app/seamly2d/mainwindow.ui
  src/app/seamly2d/mainwindowsnogui.cpp
  src/app/seamly2d/mainwindowsnogui.h
  src/app/seamly2d/share/resources/toolicon.qrc
  src/app/seamly2d/share/resources/toolicon/32x32/export.png
  src/app/seamly2d/share/resources/toolicon/32x32/export@2x.png
  src/app/seamly2d/xml/vpattern.cpp
  src/libs/ifc/xml/vabstractpattern.cpp
  src/libs/ifc/xml/vabstractpattern.h
  src/libs/vmisc/vcommonsettings.cpp
  src/libs/vmisc/vcommonsettings.h
  src/libs/vtools/tools/drawTools/vdrawtool.cpp
  src/libs/vtools/tools/vabstracttool.cpp
  src/libs/vtools/undocommands/addgroup.cpp
  src/libs/vtools/undocommands/addtocalc.cpp
  src/libs/vtools/undocommands/deletepatternpiece.cpp
  src/libs/vtools/undocommands/delgroup.cpp
  src/libs/vtools/undocommands/deltool.cpp
  src/libs/vtools/undocommands/renamepp.cpp
Labels: enhancement, Draw mode, New Draw features, export

#561 Fix issue #118 Error when using measurement A23 waist_to_floor
  src/libs/vpatterndb/vtranslatemeasurements.cpp
Labels: bug, measurements

#564 Update templates, delete PR template, update Authors.txt
  .github/ISSUE_TEMPLATE/pattern-support-request.md
  .github/ISSUE_TEMPLATE/repository-issue.md
  AUTHORS.txt
  pull_request_template.md
Labels: repository

#567 Improve QT & GCC compiler messages
  .github/README.md
  .github/img/Built_with_Qt_RGB_logo_vertical_transparent_60x65px.png
  Built_with_Qt_RGB_logo_vertical.png
  Seamly2D.pro
Labels: build

#571 Fix: issue #376 elliptical arcs do not mirror
  src/libs/vgeometry/vabstractarc.h
  src/libs/vgeometry/vellipticalarc.cpp
  src/libs/vgeometry/vellipticalarc.h
  src/libs/vgeometry/vellipticalarc_p.h
  src/libs/vgeometry/vgobject.cpp
  src/libs/vmisc/def.h
  src/libs/vtest/abstracttest.cpp
  src/libs/vtest/abstracttest.h
  src/libs/vtest/vtest.pro
  src/test/Seamly2DTest/tst_vellipticalarc.cpp
  src/test/Seamly2DTest/tst_vellipticalarc.h
Labels: bug, test suite related, Draw mode, Ellipse tools

#576 fix: move item in history dialog
  src/app/seamly2d/dialogs/dialoghistory.cpp
Labels: bug, Draw mode, history, Operations Tools

#582 Fix: issue #581 saved show point name state not loading
  src/app/seamly2d/xml/vpattern.cpp
  src/libs/vtools/tools/drawTools/toolpoint/toolsinglepoint/vtoolpointofintersection.cpp
  src/libs/vtools/tools/drawTools/toolpoint/toolsinglepoint/vtoolpointofintersection.h
Labels: bug, Draft mode, Point tools

#586 Feat: update report bug menu item
  src/app/seamly2d/mainwindow.cpp
Labels: UI
