Repository FashionFreedom/Seamly2D, pull requests merged in 2023-03, with the labels that each got.

#884 feat: Improve history dialog
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
  src/app/seamly2d/dialogs/dialoghistory.cpp
  src/app/seamly2d/dialogs/dialoghistory.h
  src/app/seamly2d/dialogs/dialoghistory.ui
  src/app/seamly2d/dialogs/dialogs.h
  src/app/seamly2d/dialogs/dialogs.pri
  src/app/seamly2d/dialogs/history_dialog.cpp
  src/app/seamly2d/dialogs/history_dialog.h
  src/app/seamly2d/dialogs/history_dialog.ui
  src/app/seamly2d/mainwindow.cpp
  src/app/seamly2d/mainwindow.h
Labels: enhancement, Draft mode, UI, history

#891 Fix issue #203
  share/translations/measurements_fr_FR.ts
Labels: bug, translations

#901 bug: remove translations from sound names
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
  src/app/seamly2d/dialogs/configpages/preferencesconfigurationpage.ui
Labels: bug, translations, UI

#898 feat: widen variables table
  src/app/seamly2d/dialogs/dialogvariables.cpp
  src/app/seamly2d/dialogs/dialogvariables.ui
Labels: Draft mode, UI, variables

#899 feat: print measurements in SeamlyMe
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
  src/app/seamlyme/dialogs/me_shortcuts_dialog.ui
  src/app/seamlyme/tmainwindow.cpp
  src/app/seamlyme/tmainwindow.h
  src/app/seamlyme/tmainwindow.ui
Labels: measurements, printing, UI, SeamlyMe

#904 feat: add object name to tools in dialogs and properties editor
  src/app/seamly2d/core/vtooloptionspropertybrowser.cpp
  src/app/seamly2d/core/vtooloptionspropertybrowser.h
  src/libs/ifc/ifcdef.cpp
  src/libs/ifc/ifcdef.h
  src/libs/vgeometry/vabstractcubicbezierpath.h
  src/libs/vgeometry/vabstractcurve.h
  src/libs/vgeometry/vcubicbezierpath.h
  src/libs/vgeometry/vsplinepath.h
  src/libs/vtools/dialogs/tools/dialogarc.cpp
  src/libs/vtools/dialogs/tools/dialogarc.h
  src/libs/vtools/dialogs/tools/dialogarc.ui
  src/libs/vtools/dialogs/tools/dialogarcwithlength.cpp
  src/libs/vtools/dialogs/tools/dialogarcwithlength.h
  src/libs/vtools/dialogs/tools/dialogarcwithlength.ui
  src/libs/vtools/dialogs/tools/dialogellipticalarc.cpp
  src/libs/vtools/dialogs/tools/dialogellipticalarc.h
  src/libs/vtools/dialogs/tools/dialogellipticalarc.ui
  src/libs/vtools/dialogs/tools/dialogline.cpp
  src/libs/vtools/dialogs/tools/dialogline.h
  src/libs/vtools/dialogs/tools/dialogline.ui
  src/libs/vtools/tools/drawTools/toolcurve/vtoolarc.cpp
  src/libs/vtools/tools/drawTools/toolcurve/vtoolarc.h
  src/libs/vtools/tools/drawTools/toolcurve/vtoolarcwithlength.cpp
  src/libs/vtools/tools/drawTools/toolcurve/vtoolarcwithlength.h
  src/libs/vtools/tools/drawTools/toolcurve/vtoolellipticalarc.cpp
  src/libs/vtools/tools/drawTools/toolcurve/vtoolellipticalarc.h
  src/libs/vtools/tools/drawTools/vtoolline.cpp
Labels: enhancement, Draft mode, UI

#903 feat: completed Dutch translations
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
  src/app/seamly2d/dialogs/history_dialog.cpp
Labels: translations, UI

#908 fix: properties browser to handle dart points
  vabstractpattern.cpp
  vabstractpattern.h
  vtooloptionspropertybrowser.cpp
Labels: bug, Draft mode, UI

#910 feat: add copy to clipboard and measurement number to table
  src/app/seamlyme/tmainwindow.cpp
  src/app/seamlyme/tmainwindow.h
  src/app/seamlyme/tmainwindow.ui
Labels: enhancement, measurements, printing, UI
