Repository FashionFreedom/Seamly2D, pull requests merged in 2023-02, with the labels that each got.

#849 Fix: Issue 848 export error
  src/libs/vlayout/vlayoutpiece.cpp
Labels: bug, Piece mode, export

#851 fix: Issue 850 - Utilities dialogs do not resize with system scaling.
  src/app/seamly2d/dialogs/calculator_dialog.ui
  src/app/seamly2d/dialogs/decimalchart_dialog.ui
Labels: bug, UI

#854 Translated the new dialogs into Dutch
  share/translations/measurements_p0_nl_NL.ts
  share/translations/measurements_p17_ro_RO.ts
  share/translations/measurements_p36_nl_NL.ts
  share/translations/seamly2d.ts
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
Labels: translations, UI

#857 fix intersection notch
  src/libs/vpatterndb/vpiece.cpp
Labels: Piece mode, Piece tools

#844 New feature: Go to point
  src/app/seamly2d/dialogs/shortcuts_dialog.ui
  src/app/seamly2d/mainwindow.cpp
  src/app/seamly2d/mainwindow.h
  src/app/seamly2d/mainwindow.ui
  src/libs/vmisc/share/resources/icons/win.icon.theme/16x16/actions/zoom_to_point.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/24x24/actions/zoom_to_point.png
  src/libs/vmisc/share/resources/icons/win.icon.theme/32x32/actions/zoom_to_point.png
  src/libs/vmisc/share/resources/theme.qrc
Labels: Draft mode, UI, New Draft features
