Repository FashionFreedom/Seamly2D, pull requests merged in 2024-06, with the labels that each got.

#1118 Fix: notch geometry max spinbox values
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_GB.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
  src/app/seamly2d/dialogs/configpages/preferencesconfigurationpage.cpp
  src/app/seamly2d/dialogs/configpages/preferencespatternpage.cpp
  src/app/seamly2d/dialogs/dialognewpattern.cpp
  src/app/seamly2d/dialogs/dialognewpattern.h
  src/app/seamly2d/dialogs/dialogpatternproperties.cpp
  src/app/seamly2d/dialogs/layoutsettings_dialog.cpp
  src/app/seamly2d/dialogs/welcome_dialog.cpp
  src/app/seamly2d/mainwindow.cpp
  src/app/seamlyme/dialogs/me_welcome_dialog.cpp
  src/app/seamlyme/dialogs/new_measurements_dialog.cpp
  src/libs/vmisc/vcommonsettings.cpp
  src/libs/vmisc/vcommonsettings.h
  src/libs/vtools/dialogs/tools/piece/pattern_piece_dialog.cpp
  src/libs/vtools/dialogs/tools/piece/pattern_piece_dialog.ui
Labels: bug, preferences, Piece tools

#1112 refactor: image tool class added
  src/app/seamly2d/mainwindow.cpp
  src/app/seamly2d/mainwindow.h
  src/libs/ifc/xml/vabstractpattern.h
  src/libs/tools/images/image_dialog.cpp
  src/libs/tools/images/image_dialog.h
  src/libs/tools/images/image_dialog.ui
  src/libs/tools/images/image_item.cpp
  src/libs/tools/images/image_item.h
  src/libs/tools/images/image_tool.cpp
  src/libs/tools/images/image_tool.h
  src/libs/tools/tools.pri
Labels: refactor, images

#1125 maintenance: update wiki URL
  src/app/seamly2d/mainwindow.cpp
Labels: UI, website, Maintenance

#1126 Images can have their origin offset from their top left corner (no tool added)
  src/libs/tools/images/image_dialog.cpp
  src/libs/tools/images/image_dialog.h
  src/libs/tools/images/image_item.cpp
  src/libs/tools/images/image_item.h
  src/libs/vmisc/def.h
Labels: enhancement, Draft mode, images

#1128 Fix: file conversion backup
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_GB.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
  src/app/seamly2d/core/application_2d.cpp
  src/app/seamly2d/core/application_2d.h
  src/app/seamly2d/dialogs/configpages/preferencesconfigurationpage.cpp
  src/app/seamly2d/dialogs/configpages/preferencesconfigurationpage.h
  src/app/seamly2d/dialogs/configpages/preferencesconfigurationpage.ui
  src/app/seamly2d/dialogs/configpages/preferencespathpage.cpp
  src/app/seamly2d/dialogs/configpages/preferencespathpage.h
  src/app/seamly2d/dialogs/dialogpreferences.cpp
  src/app/seamly2d/mainwindow.cpp
  src/app/seamly2d/mainwindow.ui
  src/app/seamly2d/share/resources/toolicon.qrc
  src/app/seamly2d/share/resources/toolicon/32x32/anchor_point.png
  src/app/seamly2d/share/resources/toolicon/32x32/anchor_point@2x.png
  src/app/seamly2d/share/resources/toolicon/32x32/export.png
  src/app/seamly2d/share/resources/toolicon/32x32/export@2x.png
  src/app/seamly2d/share/resources/toolicon/svg/el_arc.svg
  src/app/seamly2d/share/resources/toolicon/svg/export.svg
  src/app/seamlyme/tmainwindow.cpp
  src/app/seamlyme/tmainwindow.h
  src/libs/ifc/xml/abstract_converter.cpp
  src/libs/ifc/xml/abstract_converter.h
  src/libs/vmisc/share/resources/icon.qrc
  src/libs/vmisc/share/resources/icon/32x32/backup_files.png
  src/libs/vmisc/share/resources/icon/svg/add_image.svg
  src/libs/vmisc/vcommonsettings.cpp
  src/libs/vmisc/vcommonsettings.h
  src/libs/vtools/dialogs/tools/anchorpoint_dialog.cpp
Labels: bug, file storage, file format
