Repository FashionFreedom/Seamly2D, pull requests merged in 2024-04, with the labels that each got.

#1088 fix: default piece label template
  src/libs/vtools/dialogs/tools/piece/pattern_piece_dialog.cpp
Labels: bug, Piece mode, Piece tools, labels

#1091 fix: old conditionals have been removed to solve compilation issue
  src/app/seamly2d/core/application_2d.cpp
Labels: bug, build

#1092 UI bugs fixes after having merged the background image feature
  src/app/seamly2d/mainwindow.ui
Labels: bug, Draft mode, UI

#1095 feature: Enhance and update about dialog
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_GB.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
  share/translations/translations.pro
  src/app/seamly2d/dialogs/about2d_dialog.cpp
  src/app/seamly2d/dialogs/about2d_dialog.h
  src/app/seamly2d/dialogs/about2d_dialog.ui
  src/app/seamly2d/dialogs/dialogaboutapp.cpp
  src/app/seamly2d/dialogs/dialogaboutapp.h
  src/app/seamly2d/dialogs/dialogaboutapp.ui
  src/app/seamly2d/dialogs/dialogs.h
  src/app/seamly2d/dialogs/dialogs.pri
  src/app/seamly2d/dialogs/show_info_dialog.cpp
  src/app/seamly2d/mainwindow.cpp
  src/app/seamly2d/mainwindow.ui
  src/libs/tools/image_dialog.cpp
  src/libs/tools/image_dialog.h
  src/libs/tools/image_dialog.ui
  src/libs/tools/image_item.cpp
  src/libs/vmisc/projectversion.cpp
Labels: enhancement, UI, About
