Repository FashionFreedom/Seamly2D, pull requests merged in 2025-03, with the labels that each got.

#1253 Title and description tags removed from exported SVGs
  share/translations/seamly2d_cs_CZ.ts
  share/translations/seamly2d_de_DE.ts
  share/translations/seamly2d_el_GR.ts
  share/translations/seamly2d_en_CA.ts
  share/translations/seamly2d_en_GB.ts
  share/translations/seamly2d_en_IN.ts
  share/translations/seamly2d_en_US.ts
  share/translations/seamly2d_es_ES.ts
  share/translations/seamly2d_fi_FI.ts
  share/translations/seamly2d_fr_FR.ts
  share/translations/seamly2d_he_IL.ts
  share/translations/seamly2d_id_ID.ts
  share/translations/seamly2d_it_IT.ts
  share/translations/seamly2d_nl_NL.ts
  share/translations/seamly2d_pt_BR.ts
  share/translations/seamly2d_ro_RO.ts
  share/translations/seamly2d_ru_RU.ts
  share/translations/seamly2d_uk_UA.ts
  share/translations/seamly2d_zh_CN.ts
  src/libs/vformat/svg_generator.cpp
Labels: export, svg

#1256 Fix: Point on Spline tool
  src/libs/vtools/tools/drawTools/toolpoint/toolsinglepoint/toolcut/vtoolcutarc.cpp
  src/libs/vtools/tools/drawTools/toolpoint/toolsinglepoint/toolcut/vtoolcutspline.cpp
  src/libs/vtools/tools/drawTools/toolpoint/toolsinglepoint/toolcut/vtoolcutsplinepath.cpp
Labels: bug, Draft mode, Point tools

#1267 fix: Pattern piece tool shape method
  src/libs/vtools/tools/pattern_piece_tool.cpp
Labels: bug, Piece mode

#1268 feature: enhance fx dialog
  src/libs/vtools/dialogs/support/edit_formula_dialog.cpp
  src/libs/vtools/dialogs/support/edit_formula_dialog.h
  src/libs/vtools/dialogs/support/edit_formula_dialog.ui
Labels: enhancement, Draft mode, formulas
